
 body {
  
    background-image: url(./a.jpg);
    background-size: cover;
  }
  #reg #reg-row #reg-column #reg-box {
    margin-top: 120px;
    width: 450px;
    height: 600px;
    background-color: rgb(235, 236, 234);
  }
i{
  margin-left:-0px;
cursor: pointer;
}
  
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }