
 body {
   
    background-image: url(./a.jpg);
    background-size: cover;
  }
  #login #login-row #login-column #login-box {
    margin-top: 120px;
    width: 450px;
    height: 400px;
    background-color: rgb(235, 236, 234);
  }

  
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }